<div class="row">
  <div class="col-xs-6 col-sm-4" id="PinDetails">

    <p>
      <% if @pin.next_image != nil %>
        <%= link_to 'Next', @pin.next_image, id: "next_pin" %>
      <% else %>
        Next
      <% end %> | 
      <% if @pin.previous_image != nil %>
        <%= link_to 'Previous', @pin.previous_image, id: "previous_pin" %>
      <% else %>
        Previous
      <% end %></p>

    <p>Added <%= time_ago_in_words(@pin.created_at) %> ago</p>
    <p><%= @pin.description %></p>
    <p><strong><%= link_to @pin.user.name, @pin.user if @pin.user %></strong></p>
    <p><% @pin.tags.each do |tag| %>
        <span class="label label-teal">
          <%= link_to tag.name, tag_path(tag.name) %>
        </span>
    <% end %></p>
    <% if current_user && @pin.user == current_user %>
       <%= link_to edit_pin_path(@pin) do %>
          <span class="glyphicon glyphicon-edit"></span>
          Edit
       <% end %>
    <% end %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-8">
    <div id="PinPanel">
      <%= link_to image_tag(@pin.image(:original), id: "pinImage", class: "img-fluid", "max-width": "100%", "max-height": "auto"), @pin.image(:original), "data-lightbox": "image" %>
    </div>
  </div>
</div>